<div id="AboutModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title"><span class="mr-2" style="font-weight: bold; font-size: 18pt">DEDA<font color="#80BD01">js</font></span> Service Manager</h5>
            </div>
            <div class="modal-body">
                <p><b>Version</b>: {{control.info.version ? control.info.version : 'UNKNOWN' }}</p>
                <p><b>Website</b>: <a href="https://github.com/DEDAjs/deda-service-manager" target="_blank">Home page on GitHub</a></p>
                <p><b>Get Help:</b> <a href="https://github.com/DEDAjs/deda-service-manager/issues" target="_blank">Wiki on GitHub</a></p>
                <p><b>Report an issue</b>: <a href="https://github.com/DEDAjs/deda-service-manager/issues" target="_blank">Issues on GitHub</a></p>
                <p><b>Written by</b>: Charbel Choueiri (<a href="mailto:charbel.choueiri@gmail.com">charbel.choueiri@gmail.com</a>)</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>